#### 모듈

In [13]:
import os
import os.path as path

import pandas as pd

from sklearn.preprocessing import LabelEncoder
import numpy as np

#### 인코더 불러오기

In [14]:
# path
BasePath = "./encoders"

# get list of encoder files
encoder_file_list = os.listdir(BasePath)

# print list of encoder files
print('encoder_file_list :', encoder_file_list)

# load encoder files
encoder_dict = {}

for file in encoder_file_list:
    encoder_name = file.replace(".npy", "")
    encoder_dict[encoder_name] = LabelEncoder()
    classes = np.load(path.join(BasePath, file), allow_pickle=True)
    encoder_dict[encoder_name].classes_ = np.load(path.join(BasePath, file), allow_pickle=True)
    
    if encoder_name == "os_version":
        encoder_dict[encoder_name].fit(list(map(lambda x: str(x), classes)))

# some encoder modify
encoder_dict['event_type'].classes_ = np.array([
    'error',
    'enter.main_page',
    'enter.signup_page',
    'complete.signup',
    'enter.content_page',
    'click.content_page_start_content_button',
    'click.content_page_more_review_button',
    'enter.payment_page',
    'complete.subscription',
    'renew.subscription',
    'resubscribe.subscription',
    'start.free_trial',
    'start.content',
    'enter.lesson_page',
    'complete.lesson',
    'click.lesson_page_related_question_box',
    'end.content',
    'click.cancel_plan_button'
])
# encoder test
print(encoder_dict["event_type"].classes_[:5])

encoder_file_list : ['button.name.npy', 'button_name.npy', 'city.npy', 'content.difficulty.npy', 'content.id.npy', 'country.npy', 'coupon.discount_amount.npy', 'device_family.npy', 'device_type.npy', 'event_type.npy', 'is_free_trial.npy', 'is_trial.npy', 'language.npy', 'lesson.id.npy', 'os_name.npy', 'os_version.npy', 'paid_amount.npy', 'pg.type.npy', 'plan.price.npy', 'plan.type.npy', 'platform.npy', 'question.id.npy', 'trial.type.npy', 'type.npy', 'user_id.npy']
['error' 'enter.main_page' 'enter.signup_page' 'complete.signup'
 'enter.content_page']

#### 인코더 테스트

In [15]:
## 주의사항
# 1. BaseFilePath에 데이터 파일 경로를 설정해주세요.
# 2. 제외하고 싶은 컬럼이 있으면 exclude_columns에 추가해주세요.
# 3. 인코딩을 하고 컬럼 이름을 바꿔 주세요.

## 함수 설명
# .transform()을 이용해서 데이터를 변환해주세요.
# .inverse_transform()을 이용해서 데이터를 역변환해주세요.


## 인코딩

# 개인적으로 BaseFilePath를 설정해주었는데, 이를 이용해서 파일 리스트를 불러오는 코드입니다.
BaseFilePath = 'd:\Codeit\intermediate_project\주제 2. 구독서비스 프로덕트 데이터 분석'
filelist = os.listdir(BaseFilePath)[:-1]

# 제외 컬럼
exclude_columns = ['device_carrier', 'os_version']

# 제외 컬럼 : 제외하고 싶은 컬럼을 추가합니다.
exclude_columns_plus = []


# display file list
print(filelist)

# load data
dfs = []

for file in filelist:
    if file.endswith('.csv'):
        df = pd.read_csv(path.join(BaseFilePath, file), nrows=1000)
        
        # preprocess
        # convert os_version to string
        df['os_version'] = df['os_version'].astype(str)
        # drop 
        df = df.drop('device_carrier', axis=1)
        df = df.drop('os_version', axis=1)
        # convert client_event_time to datetime
        df['client_event_time'] = pd.to_datetime(df['client_event_time'])
        
        dfs.append(df)
        print(f"file: {file}, shape: {df.shape}")

for i, df in enumerate(dfs):
    print(f"file: {filelist[i]} encodings - ")
    
    # encode categorical columns using the loaded encoders
    for col in df.columns:
        # exception handling
        if col not in encoder_dict:
            continue
        if col in exclude_columns + exclude_columns_plus:
            continue
        
        # encode using the loaded encoder
        df[col] = encoder_dict[col].transform(df[col])
        print(f"{col}: {encoder_dict[col].classes_[:5]}")
    
    # display result head
    display(df.head())

['click.cancel_plan_button.csv', 'click.content_page_more_review_button.csv', 'click.content_page_start_content_button.csv', 'click.lesson_page_related_question_box.csv', 'complete.lesson.csv', 'complete.signup.csv', 'complete.subscription.csv', 'end.content.csv', 'enter.content_page.csv', 'enter.lesson_page-002.csv', 'enter.main_page.csv', 'enter.payment_page.csv', 'enter.signup_page.csv', 'renew.subscription.csv', 'resubscribe.subscription.csv', 'start.content.csv', 'start.free_trial.csv']
file: click.cancel_plan_button.csv, shape: (1000, 10)
file: click.content_page_more_review_button.csv, shape: (1000, 11)
file: click.content_page_start_content_button.csv, shape: (1000, 13)
file: click.lesson_page_related_question_box.csv, shape: (1000, 13)

<>:14: SyntaxWarning: invalid escape sequence '\C'
<>:14: SyntaxWarning: invalid escape sequence '\C'
C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_14368\2508964719.py:14: SyntaxWarning: invalid escape sequence '\C'
  BaseFilePath = 'd:\Codeit\intermediate_project\주제 2. 구독서비스 프로덕트 데이터 분석'

file: complete.lesson.csv, shape: (1000, 12)
file: complete.signup.csv, shape: (1000, 11)
file: complete.subscription.csv, shape: (1000, 14)
file: end.content.csv, shape: (1000, 11)
file: enter.content_page.csv, shape: (1000, 11)
file: enter.lesson_page-002.csv, shape: (1000, 14)
file: enter.main_page.csv, shape: (1000, 10)
file: enter.payment_page.csv, shape: (1000, 10)
file: enter.signup_page.csv, shape: (1000, 10)
file: renew.subscription.csv, shape: (1000, 14)
file: resubscribe.subscription.csv, shape: (791, 14)
file: start.content.csv, shape: (1000, 12)
file: start.free_trial.csv, shape: (1000, 13)
file: click.cancel_plan_button.csv encodings -
city: ["'Ewa Beach" '6th of October City' 'A Coruña' 'A Me' 'AElmhult']
country: ['Afghanistan' 'Albania' 'Algeria' 'American Samoa' 'Angola']
device_family: ['10A30Q' '21051182G' '21061110AG' '21061119AG' '21061119AL']
device_type: ['Amazon Fire HD 10' 'Amazon Fire HD 8' 'Amazon Kindle Fire HDX' 'Android'
 'Apple iPad']
event_type: ['error' 'enter.main_page' 'enter.signup_page' 'complete.signup'
 'enter.content_page']
language: ['Afrikaans' 'Albanian' 'Arabic' 'Azerbaijani' 'Bengali']
os_name: ['AVG Secure Browser' 'Android Browser' 'Avast Secure Browser' 'Chrome'
 'Chrome Headless']
platform: ['Web' None nan]
user_id: ['0000572f2ba8079bcefd2760b632e820' '000087537cbfd934375364218ff10f91'
 '000117267e1dd62481ef3ae7fb420107' '00012b6dbfccfb458ad0d08f34477944'
 '0001435bc6c0c0f05315192f89275425']

,city,client_event_time,country,device_family,device_type,event_type,language,os_name,platform,user_id
0,885,2023-04-10 14:57:48.556,157,1028,608,17,37,3,0,111465
1,3439,2023-03-12 08:26:16.224,157,129,4,17,14,22,0,55651
2,3944,2023-03-12 08:23:04.955,157,1028,608,17,37,3,0,128370
3,966,2023-03-12 08:32:39.271,157,1028,608,17,37,3,0,45696
4,1259,2023-04-12 11:36:28.311,157,1028,608,17,37,3,0,133510

file: click.content_page_more_review_button.csv encodings -
city: ["'Ewa Beach" '6th of October City' 'A Coruña' 'A Me' 'AElmhult']
country: ['Afghanistan' 'Albania' 'Algeria' 'American Samoa' 'Angola']
device_family: ['10A30Q' '21051182G' '21061110AG' '21061119AG' '21061119AL']
device_type: ['Amazon Fire HD 10' 'Amazon Fire HD 8' 'Amazon Kindle Fire HDX' 'Android'
 'Apple iPad']
event_type: ['error' 'enter.main_page' 'enter.signup_page' 'complete.signup'
 'enter.content_page']
language: ['Afrikaans' 'Albanian' 'Arabic' 'Azerbaijani' 'Bengali']
os_name: ['AVG Secure Browser' 'Android Browser' 'Avast Secure Browser' 'Chrome'
 'Chrome Headless']
platform: ['Web' None nan]
user_id: ['0000572f2ba8079bcefd2760b632e820' '000087537cbfd934375364218ff10f91'
 '000117267e1dd62481ef3ae7fb420107' '00012b6dbfccfb458ad0d08f34477944'
 '0001435bc6c0c0f05315192f89275425']
content.id: ['011a040b817225cb7c01d4676c21ea44' '01d9424fd9d2b1d7a4392042fc646061'
 '035f018008f1696ded6e10e1dd757726' '03b4a290c08f7fa83933827a994f2e61'
 '040ccaa97a52e006a2c94bb7c5dce263']

,city,client_event_time,country,device_family,device_type,event_type,language,os_name,platform,user_id,content.id
0,3419,2023-04-10 14:10:01.402,157,1028,608,6,37,3,0,60320,134
1,2211,2023-01-24 21:37:43.417,179,1028,608,6,37,39,0,160566,199
2,1108,2023-01-31 14:44:16.897,157,1028,608,6,37,3,0,162424,128
3,3439,2023-01-31 14:30:36.568,157,134,37,6,37,22,0,159318,199
4,3439,2023-02-12 03:24:32.337,157,1028,608,6,37,3,0,82220,10

file: click.content_page_start_content_button.csv encodings -
city: ["'Ewa Beach" '6th of October City' 'A Coruña' 'A Me' 'AElmhult']
country: ['Afghanistan' 'Albania' 'Algeria' 'American Samoa' 'Angola']
device_family: ['10A30Q' '21051182G' '21061110AG' '21061119AG' '21061119AL']
device_type: ['Amazon Fire HD 10' 'Amazon Fire HD 8' 'Amazon Kindle Fire HDX' 'Android'
 'Apple iPad']
event_type: ['error' 'enter.main_page' 'enter.signup_page' 'complete.signup'
 'enter.content_page']
language: ['Afrikaans' 'Albanian' 'Arabic' 'Azerbaijani' 'Bengali']
os_name: ['AVG Secure Browser' 'Android Browser' 'Avast Secure Browser' 'Chrome'
 'Chrome Headless']
platform: ['Web' None nan]
user_id: ['0000572f2ba8079bcefd2760b632e820' '000087537cbfd934375364218ff10f91'
 '000117267e1dd62481ef3ae7fb420107' '00012b6dbfccfb458ad0d08f34477944'
 '0001435bc6c0c0f05315192f89275425']
content.id: ['011a040b817225cb7c01d4676c21ea44' '01d9424fd9d2b1d7a4392042fc646061'
 '035f018008f1696ded6e10e1dd757726' '03b4a290c08f7fa83933827a994f2e61'
 '040ccaa97a52e006a2c94bb7c5dce263']
button.name: ['구독 시작하기' '무료로 들어보기' '무료로 시작하기' '최저가 혜택 받기' '최저가로 시작하기']
button_name: ['무료로 시작하기' '수강시작' '수강하기' '이어하기' None]

,city,client_event_time,country,device_family,device_type,event_type,language,os_name,platform,user_id,content.id,button.name,button_name
0,887,2023-04-05 21:14:38.432,157,1028,608,5,37,9,0,46099,56,5,5
1,3435,2023-04-10 14:57:20.033,157,1028,608,5,37,9,0,173595,21,6,5
2,4220,2023-04-10 14:28:29.515,157,1028,608,5,37,3,0,19085,185,6,5
3,3419,2023-04-10 14:09:30.564,157,1028,608,5,37,3,0,37438,134,6,5
4,3419,2023-04-10 14:10:52.368,157,1028,608,5,37,3,0,37438,108,5,5

file: click.lesson_page_related_question_box.csv encodings -
city: ["'Ewa Beach" '6th of October City' 'A Coruña' 'A Me' 'AElmhult']
country: ['Afghanistan' 'Albania' 'Algeria' 'American Samoa' 'Angola']
device_family: ['10A30Q' '21051182G' '21061110AG' '21061119AG' '21061119AL']
device_type: ['Amazon Fire HD 10' 'Amazon Fire HD 8' 'Amazon Kindle Fire HDX' 'Android'
 'Apple iPad']
event_type: ['error' 'enter.main_page' 'enter.signup_page' 'complete.signup'
 'enter.content_page']
language: ['Afrikaans' 'Albanian' 'Arabic' 'Azerbaijani' 'Bengali']
os_name: ['AVG Secure Browser' 'Android Browser' 'Avast Secure Browser' 'Chrome'
 'Chrome Headless']
platform: ['Web' None nan]
user_id: ['0000572f2ba8079bcefd2760b632e820' '000087537cbfd934375364218ff10f91'
 '000117267e1dd62481ef3ae7fb420107' '00012b6dbfccfb458ad0d08f34477944'
 '0001435bc6c0c0f05315192f89275425']
question.id: ['000468dc7826f179a01db37bff526ca4' '001024597887f49ec01816cc0360ce2a'
 '0015d6a21cc7eaa4c71241b0128d8d09' '0031005db08ae21ea9152cd538a388ca'
 '0031dcc98ab038ac4504d3f2f18e6142']
content.id: ['011a040b817225cb7c01d4676c21ea44' '01d9424fd9d2b1d7a4392042fc646061'
 '035f018008f1696ded6e10e1dd757726' '03b4a290c08f7fa83933827a994f2e61'
 '040ccaa97a52e006a2c94bb7c5dce263']
lesson.id: ['001e4570bb0fc346a1c969b019bdc22b' '0021f3a8597cb32f3605631446baf526'
 '0022b56713250709e3e8f06ec6c2a76e' '00332b815a82ca3244f1e1eb72345390'
 '00375453dc564db84a8ae379afdd8f1c']

,city,client_event_time,country,device_family,device_type,event_type,language,os_name,platform,user_id,question.id,content.id,lesson.id
0,976,2023-04-05 21:51:48.377,157,772,481,15,14,3,0,12405,5975,158,4996
1,976,2023-04-05 21:52:21.689,157,772,481,15,14,3,0,12405,4125,158,4996
2,976,2023-04-05 21:52:42.481,157,772,481,15,14,3,0,12405,4794,158,4996
3,1331,2023-04-05 21:20:15.032,157,569,157,15,37,3,0,158749,4323,158,1177
4,1331,2023-04-05 21:21:55.275,157,569,157,15,37,3,0,158749,2314,158,3566

file: complete.lesson.csv encodings -
city: ["'Ewa Beach" '6th of October City' 'A Coruña' 'A Me' 'AElmhult']
country: ['Afghanistan' 'Albania' 'Algeria' 'American Samoa' 'Angola']
device_family: ['10A30Q' '21051182G' '21061110AG' '21061119AG' '21061119AL']
device_type: ['Amazon Fire HD 10' 'Amazon Fire HD 8' 'Amazon Kindle Fire HDX' 'Android'
 'Apple iPad']
event_type: ['error' 'enter.main_page' 'enter.signup_page' 'complete.signup'
 'enter.content_page']
language: ['Afrikaans' 'Albanian' 'Arabic' 'Azerbaijani' 'Bengali']
os_name: ['AVG Secure Browser' 'Android Browser' 'Avast Secure Browser' 'Chrome'
 'Chrome Headless']
platform: ['Web' None nan]
user_id: ['0000572f2ba8079bcefd2760b632e820' '000087537cbfd934375364218ff10f91'
 '000117267e1dd62481ef3ae7fb420107' '00012b6dbfccfb458ad0d08f34477944'
 '0001435bc6c0c0f05315192f89275425']
content.id: ['011a040b817225cb7c01d4676c21ea44' '01d9424fd9d2b1d7a4392042fc646061'
 '035f018008f1696ded6e10e1dd757726' '03b4a290c08f7fa83933827a994f2e61'
 '040ccaa97a52e006a2c94bb7c5dce263']
lesson.id: ['001e4570bb0fc346a1c969b019bdc22b' '0021f3a8597cb32f3605631446baf526'
 '0022b56713250709e3e8f06ec6c2a76e' '00332b815a82ca3244f1e1eb72345390'
 '00375453dc564db84a8ae379afdd8f1c']

,city,client_event_time,country,device_family,device_type,event_type,language,os_name,platform,user_id,content.id,lesson.id
0,4170,2023-04-05 21:55:51.836,157,1028,608,14,37,3,0,102080,124,4543
1,887,2023-04-05 21:19:01.243,157,1028,608,14,37,9,0,46099,56,2715
2,887,2023-04-05 21:20:27.939,157,1028,608,14,37,9,0,46099,56,4508
3,887,2023-04-05 21:23:01.534,157,1028,608,14,37,9,0,46099,56,5223
4,887,2023-04-05 21:28:34.965,157,1028,608,14,37,9,0,46099,56,4414

file: complete.signup.csv encodings -
city: ["'Ewa Beach" '6th of October City' 'A Coruña' 'A Me' 'AElmhult']
country: ['Afghanistan' 'Albania' 'Algeria' 'American Samoa' 'Angola']
device_family: ['10A30Q' '21051182G' '21061110AG' '21061119AG' '21061119AL']
device_type: ['Amazon Fire HD 10' 'Amazon Fire HD 8' 'Amazon Kindle Fire HDX' 'Android'
 'Apple iPad']
event_type: ['error' 'enter.main_page' 'enter.signup_page' 'complete.signup'
 'enter.content_page']
language: ['Afrikaans' 'Albanian' 'Arabic' 'Azerbaijani' 'Bengali']
os_name: ['AVG Secure Browser' 'Android Browser' 'Avast Secure Browser' 'Chrome'
 'Chrome Headless']
platform: ['Web' None nan]
user_id: ['0000572f2ba8079bcefd2760b632e820' '000087537cbfd934375364218ff10f91'
 '000117267e1dd62481ef3ae7fb420107' '00012b6dbfccfb458ad0d08f34477944'
 '0001435bc6c0c0f05315192f89275425']
type: ['email' 'facebook' 'google' 'kakao' 'naver']

,city,client_event_time,country,device_family,device_type,event_type,language,os_name,platform,user_id,type
0,4340,2023-04-05 21:33:26.068,189,1120,652,3,71,44,2,82283,3
1,4340,2023-04-05 21:45:18.672,189,1120,652,3,71,44,2,4751,3
2,3419,2023-04-10 14:47:56.424,157,1028,608,3,37,3,0,158233,3
3,3693,2023-04-10 14:25:45.920,157,134,37,3,37,22,0,160006,4
4,4340,2023-04-10 14:09:50.698,189,1120,652,3,71,44,2,57880,3

file: complete.subscription.csv encodings -
city: ["'Ewa Beach" '6th of October City' 'A Coruña' 'A Me' 'AElmhult']
country: ['Afghanistan' 'Albania' 'Algeria' 'American Samoa' 'Angola']
device_family: ['10A30Q' '21051182G' '21061110AG' '21061119AG' '21061119AL']
device_type: ['Amazon Fire HD 10' 'Amazon Fire HD 8' 'Amazon Kindle Fire HDX' 'Android'
 'Apple iPad']
event_type: ['error' 'enter.main_page' 'enter.signup_page' 'complete.signup'
 'enter.content_page']
language: ['Afrikaans' 'Albanian' 'Arabic' 'Azerbaijani' 'Bengali']
os_name: ['AVG Secure Browser' 'Android Browser' 'Avast Secure Browser' 'Chrome'
 'Chrome Headless']
platform: ['Web' None nan]
user_id: ['0000572f2ba8079bcefd2760b632e820' '000087537cbfd934375364218ff10f91'
 '000117267e1dd62481ef3ae7fb420107' '00012b6dbfccfb458ad0d08f34477944'
 '0001435bc6c0c0f05315192f89275425']
plan.price: [14328 15920 19920 42960 79200]
paid_amount: [3960 7960 9552 11144 11940]
coupon.discount_amount: [-52400 -48400 0 478 796]
pg.type: ['A' 'B' 'C' None nan]

,city,client_event_time,country,device_family,device_type,event_type,language,os_name,platform,user_id,plan.price,paid_amount,coupon.discount_amount,pg.type
0,2764,2023-04-05 21:40:04.000,157,1028,608,8,37,9,0,12134,1,12,2,4
1,3439,2023-04-10 14:20:03.008,157,134,37,8,37,22,0,135650,11,49,2,4
2,4222,2023-03-12 08:46:14.026,157,1028,608,8,37,3,0,85353,11,45,32,4
3,1259,2023-04-12 11:35:01.865,157,1028,608,8,37,3,0,133510,11,49,2,4
4,1414,2023-05-31 01:25:55.820,157,569,157,8,37,3,0,149646,1,12,2,4

file: end.content.csv encodings -
city: ["'Ewa Beach" '6th of October City' 'A Coruña' 'A Me' 'AElmhult']
country: ['Afghanistan' 'Albania' 'Algeria' 'American Samoa' 'Angola']
device_family: ['10A30Q' '21051182G' '21061110AG' '21061119AG' '21061119AL']
device_type: ['Amazon Fire HD 10' 'Amazon Fire HD 8' 'Amazon Kindle Fire HDX' 'Android'
 'Apple iPad']
event_type: ['error' 'enter.main_page' 'enter.signup_page' 'complete.signup'
 'enter.content_page']
language: ['Afrikaans' 'Albanian' 'Arabic' 'Azerbaijani' 'Bengali']
os_name: ['AVG Secure Browser' 'Android Browser' 'Avast Secure Browser' 'Chrome'
 'Chrome Headless']
platform: ['Web' None nan]
user_id: ['0000572f2ba8079bcefd2760b632e820' '000087537cbfd934375364218ff10f91'
 '000117267e1dd62481ef3ae7fb420107' '00012b6dbfccfb458ad0d08f34477944'
 '0001435bc6c0c0f05315192f89275425']
content.id: ['011a040b817225cb7c01d4676c21ea44' '01d9424fd9d2b1d7a4392042fc646061'
 '035f018008f1696ded6e10e1dd757726' '03b4a290c08f7fa83933827a994f2e61'
 '040ccaa97a52e006a2c94bb7c5dce263']

,city,client_event_time,country,device_family,device_type,event_type,language,os_name,platform,user_id,content.id
0,4269,2023-04-10 14:02:10.600,84,1028,608,16,32,3,0,45089,139
1,3439,2023-04-10 14:21:26.466,157,1028,608,16,37,3,0,94156,203
2,3430,2023-04-10 14:37:04.440,157,1028,608,16,37,3,0,30875,111
3,3419,2023-04-10 14:37:19.909,157,1028,608,16,37,3,0,92395,92
4,3419,2023-04-10 14:08:58.968,157,1028,608,16,37,3,0,37438,134

file: enter.content_page.csv encodings -
city: ["'Ewa Beach" '6th of October City' 'A Coruña' 'A Me' 'AElmhult']
country: ['Afghanistan' 'Albania' 'Algeria' 'American Samoa' 'Angola']
device_family: ['10A30Q' '21051182G' '21061110AG' '21061119AG' '21061119AL']
device_type: ['Amazon Fire HD 10' 'Amazon Fire HD 8' 'Amazon Kindle Fire HDX' 'Android'
 'Apple iPad']
event_type: ['error' 'enter.main_page' 'enter.signup_page' 'complete.signup'
 'enter.content_page']
language: ['Afrikaans' 'Albanian' 'Arabic' 'Azerbaijani' 'Bengali']
os_name: ['AVG Secure Browser' 'Android Browser' 'Avast Secure Browser' 'Chrome'
 'Chrome Headless']
platform: ['Web' None nan]
user_id: ['0000572f2ba8079bcefd2760b632e820' '000087537cbfd934375364218ff10f91'
 '000117267e1dd62481ef3ae7fb420107' '00012b6dbfccfb458ad0d08f34477944'
 '0001435bc6c0c0f05315192f89275425']
content.id: ['011a040b817225cb7c01d4676c21ea44' '01d9424fd9d2b1d7a4392042fc646061'
 '035f018008f1696ded6e10e1dd757726' '03b4a290c08f7fa83933827a994f2e61'
 '040ccaa97a52e006a2c94bb7c5dce263']

,city,client_event_time,country,device_family,device_type,event_type,language,os_name,platform,user_id,content.id
0,3439,2023-04-05 21:40:35.740,157,134,37,4,37,3,0,150025,29
1,1646,2023-04-05 21:01:59.950,157,768,450,4,37,3,0,179757,192
2,887,2023-04-05 21:13:12.038,157,1028,608,4,37,9,0,46099,152
3,887,2023-04-05 21:14:25.355,157,1028,608,4,37,9,0,46099,56
4,3439,2023-04-05 21:44:23.759,157,772,476,4,37,34,0,179757,107

file: enter.lesson_page-002.csv encodings -
city: ["'Ewa Beach" '6th of October City' 'A Coruña' 'A Me' 'AElmhult']
country: ['Afghanistan' 'Albania' 'Algeria' 'American Samoa' 'Angola']
device_family: ['10A30Q' '21051182G' '21061110AG' '21061119AG' '21061119AL']
device_type: ['Amazon Fire HD 10' 'Amazon Fire HD 8' 'Amazon Kindle Fire HDX' 'Android'
 'Apple iPad']
event_type: ['error' 'enter.main_page' 'enter.signup_page' 'complete.signup'
 'enter.content_page']
language: ['Afrikaans' 'Albanian' 'Arabic' 'Azerbaijani' 'Bengali']
os_name: ['AVG Secure Browser' 'Android Browser' 'Avast Secure Browser' 'Chrome'
 'Chrome Headless']
platform: ['Web' None nan]
user_id: ['0000572f2ba8079bcefd2760b632e820' '000087537cbfd934375364218ff10f91'
 '000117267e1dd62481ef3ae7fb420107' '00012b6dbfccfb458ad0d08f34477944'
 '0001435bc6c0c0f05315192f89275425']
content.id: ['011a040b817225cb7c01d4676c21ea44' '01d9424fd9d2b1d7a4392042fc646061'
 '035f018008f1696ded6e10e1dd757726' '03b4a290c08f7fa83933827a994f2e61'
 '040ccaa97a52e006a2c94bb7c5dce263']
is_trial: [False True nan]
lesson.id: ['001e4570bb0fc346a1c969b019bdc22b' '0021f3a8597cb32f3605631446baf526'
 '0022b56713250709e3e8f06ec6c2a76e' '00332b815a82ca3244f1e1eb72345390'
 '00375453dc564db84a8ae379afdd8f1c']
is_free_trial: [False True nan]

,city,client_event_time,country,device_family,device_type,event_type,language,os_name,platform,user_id,content.id,is_trial,lesson.id,is_free_trial
0,4170,2023-04-05 21:46:04.333,157,1028,608,13,37,3,0,102080,124,0,4543,2
1,4170,2023-04-05 21:55:50.787,157,1028,608,13,37,3,0,102080,124,0,4543,2
2,4170,2023-04-05 21:55:55.684,157,1028,608,13,37,3,0,102080,124,0,2557,2
3,978,2023-04-05 21:04:55.828,157,569,157,13,37,3,0,125591,80,0,2277,2
4,978,2023-04-05 21:05:34.139,157,569,157,13,37,3,0,125591,181,0,409,2

file: enter.main_page.csv encodings -
city: ["'Ewa Beach" '6th of October City' 'A Coruña' 'A Me' 'AElmhult']
country: ['Afghanistan' 'Albania' 'Algeria' 'American Samoa' 'Angola']
device_family: ['10A30Q' '21051182G' '21061110AG' '21061119AG' '21061119AL']
device_type: ['Amazon Fire HD 10' 'Amazon Fire HD 8' 'Amazon Kindle Fire HDX' 'Android'
 'Apple iPad']
event_type: ['error' 'enter.main_page' 'enter.signup_page' 'complete.signup'
 'enter.content_page']
language: ['Afrikaans' 'Albanian' 'Arabic' 'Azerbaijani' 'Bengali']
os_name: ['AVG Secure Browser' 'Android Browser' 'Avast Secure Browser' 'Chrome'
 'Chrome Headless']
platform: ['Web' None nan]
user_id: ['0000572f2ba8079bcefd2760b632e820' '000087537cbfd934375364218ff10f91'
 '000117267e1dd62481ef3ae7fb420107' '00012b6dbfccfb458ad0d08f34477944'
 '0001435bc6c0c0f05315192f89275425']

,city,client_event_time,country,device_family,device_type,event_type,language,os_name,platform,user_id
0,3435,2023-04-05 21:55:06.140,157,772,481,1,37,39,0,179757
1,978,2023-04-05 21:04:28.967,157,569,157,1,37,3,0,125591
2,1646,2023-04-05 21:01:31.258,157,768,450,1,37,3,0,179757
3,1646,2023-04-05 21:02:50.374,157,768,450,1,37,3,0,179757
4,3439,2023-04-05 21:30:33.727,157,772,322,1,37,3,0,179757

file: enter.payment_page.csv encodings -
city: ["'Ewa Beach" '6th of October City' 'A Coruña' 'A Me' 'AElmhult']
country: ['Afghanistan' 'Albania' 'Algeria' 'American Samoa' 'Angola']
device_family: ['10A30Q' '21051182G' '21061110AG' '21061119AG' '21061119AL']
device_type: ['Amazon Fire HD 10' 'Amazon Fire HD 8' 'Amazon Kindle Fire HDX' 'Android'
 'Apple iPad']
event_type: ['error' 'enter.main_page' 'enter.signup_page' 'complete.signup'
 'enter.content_page']
language: ['Afrikaans' 'Albanian' 'Arabic' 'Azerbaijani' 'Bengali']
os_name: ['AVG Secure Browser' 'Android Browser' 'Avast Secure Browser' 'Chrome'
 'Chrome Headless']
platform: ['Web' None nan]
user_id: ['0000572f2ba8079bcefd2760b632e820' '000087537cbfd934375364218ff10f91'
 '000117267e1dd62481ef3ae7fb420107' '00012b6dbfccfb458ad0d08f34477944'
 '0001435bc6c0c0f05315192f89275425']

,city,client_event_time,country,device_family,device_type,event_type,language,os_name,platform,user_id
0,3439,2023-04-05 21:31:27.602,157,772,322,7,37,3,0,100551
1,4170,2023-04-05 21:33:30.699,157,1028,608,7,37,3,0,82283
2,887,2023-04-05 21:05:28.337,157,1028,608,7,37,9,0,69567
3,3439,2023-04-05 21:45:27.935,157,569,157,7,37,33,0,4751
4,3439,2023-04-05 21:46:50.632,157,569,157,7,37,33,0,4751

file: enter.signup_page.csv encodings -
city: ["'Ewa Beach" '6th of October City' 'A Coruña' 'A Me' 'AElmhult']
country: ['Afghanistan' 'Albania' 'Algeria' 'American Samoa' 'Angola']
device_family: ['10A30Q' '21051182G' '21061110AG' '21061119AG' '21061119AL']
device_type: ['Amazon Fire HD 10' 'Amazon Fire HD 8' 'Amazon Kindle Fire HDX' 'Android'
 'Apple iPad']
event_type: ['error' 'enter.main_page' 'enter.signup_page' 'complete.signup'
 'enter.content_page']
language: ['Afrikaans' 'Albanian' 'Arabic' 'Azerbaijani' 'Bengali']
os_name: ['AVG Secure Browser' 'Android Browser' 'Avast Secure Browser' 'Chrome'
 'Chrome Headless']
platform: ['Web' None nan]
user_id: ['0000572f2ba8079bcefd2760b632e820' '000087537cbfd934375364218ff10f91'
 '000117267e1dd62481ef3ae7fb420107' '00012b6dbfccfb458ad0d08f34477944'
 '0001435bc6c0c0f05315192f89275425']

,city,client_event_time,country,device_family,device_type,event_type,language,os_name,platform,user_id
0,3439,2023-04-05 21:30:42.557,157,772,322,2,37,3,0,179757
1,3439,2023-04-05 21:37:41.467,157,788,652,2,37,3,0,179757
2,3439,2023-04-05 21:05:53.237,157,134,37,2,37,22,0,179757
3,1227,2023-04-05 21:41:58.269,157,569,157,2,37,33,0,179757
4,3439,2023-04-05 21:44:53.294,157,569,157,2,37,33,0,179757

file: renew.subscription.csv encodings -
city: ["'Ewa Beach" '6th of October City' 'A Coruña' 'A Me' 'AElmhult']
country: ['Afghanistan' 'Albania' 'Algeria' 'American Samoa' 'Angola']
device_family: ['10A30Q' '21051182G' '21061110AG' '21061119AG' '21061119AL']
device_type: ['Amazon Fire HD 10' 'Amazon Fire HD 8' 'Amazon Kindle Fire HDX' 'Android'
 'Apple iPad']
event_type: ['error' 'enter.main_page' 'enter.signup_page' 'complete.signup'
 'enter.content_page']
language: ['Afrikaans' 'Albanian' 'Arabic' 'Azerbaijani' 'Bengali']
os_name: ['AVG Secure Browser' 'Android Browser' 'Avast Secure Browser' 'Chrome'
 'Chrome Headless']
platform: ['Web' None nan]
user_id: ['0000572f2ba8079bcefd2760b632e820' '000087537cbfd934375364218ff10f91'
 '000117267e1dd62481ef3ae7fb420107' '00012b6dbfccfb458ad0d08f34477944'
 '0001435bc6c0c0f05315192f89275425']
plan.price: [14328 15920 19920 42960 79200]
paid_amount: [3960 7960 9552 11144 11940]
coupon.discount_amount: [-52400 -48400 0 478 796]
pg.type: ['A' 'B' 'C' None nan]

,city,client_event_time,country,device_family,device_type,event_type,language,os_name,platform,user_id,plan.price,paid_amount,coupon.discount_amount,pg.type
0,2586,2022-09-08 03:05:02.068,157,1028,608,9,37,9,0,77279,1,12,2,4
1,2586,2022-09-08 03:40:02.050,157,1028,608,9,37,3,0,136966,1,12,2,4
2,983,2022-09-08 03:49:00.829,157,1028,608,9,37,3,0,156388,3,20,10,4
3,4276,2022-09-08 04:10:06.406,157,1028,608,9,37,3,0,134335,1,12,2,4
4,983,2022-09-08 04:40:01.895,157,128,3,9,37,5,0,88613,1,12,2,4

file: resubscribe.subscription.csv encodings -
city: ["'Ewa Beach" '6th of October City' 'A Coruña' 'A Me' 'AElmhult']
country: ['Afghanistan' 'Albania' 'Algeria' 'American Samoa' 'Angola']
device_family: ['10A30Q' '21051182G' '21061110AG' '21061119AG' '21061119AL']
device_type: ['Amazon Fire HD 10' 'Amazon Fire HD 8' 'Amazon Kindle Fire HDX' 'Android'
 'Apple iPad']
event_type: ['error' 'enter.main_page' 'enter.signup_page' 'complete.signup'
 'enter.content_page']
language: ['Afrikaans' 'Albanian' 'Arabic' 'Azerbaijani' 'Bengali']
os_name: ['AVG Secure Browser' 'Android Browser' 'Avast Secure Browser' 'Chrome'
 'Chrome Headless']
platform: ['Web' None nan]
user_id: ['0000572f2ba8079bcefd2760b632e820' '000087537cbfd934375364218ff10f91'
 '000117267e1dd62481ef3ae7fb420107' '00012b6dbfccfb458ad0d08f34477944'
 '0001435bc6c0c0f05315192f89275425']
plan.price: [14328 15920 19920 42960 79200]
paid_amount: [3960 7960 9552 11144 11940]
coupon.discount_amount: [-52400 -48400 0 478 796]
pg.type: ['A' 'B' 'C' None nan]

,city,client_event_time,country,device_family,device_type,event_type,language,os_name,platform,user_id,plan.price,paid_amount,coupon.discount_amount,pg.type
0,887,2023-04-05 21:11:45.525,157,1028,608,10,37,9,0,46099,1,12,2,4
1,3439,2023-06-30 09:59:56.848,157,772,487,10,37,6,0,73556,1,12,2,4
2,2764,2023-06-13 06:20:22.524,157,1028,608,10,37,3,0,55368,1,12,2,4
3,3693,2023-06-11 11:02:11.878,157,1028,608,10,37,3,0,174990,11,49,2,4
4,1995,2023-06-13 14:39:25.736,84,134,37,10,32,3,0,24350,11,49,2,4

file: start.content.csv encodings -
city: ["'Ewa Beach" '6th of October City' 'A Coruña' 'A Me' 'AElmhult']
country: ['Afghanistan' 'Albania' 'Algeria' 'American Samoa' 'Angola']
device_family: ['10A30Q' '21051182G' '21061110AG' '21061119AG' '21061119AL']
device_type: ['Amazon Fire HD 10' 'Amazon Fire HD 8' 'Amazon Kindle Fire HDX' 'Android'
 'Apple iPad']
event_type: ['error' 'enter.main_page' 'enter.signup_page' 'complete.signup'
 'enter.content_page']
language: ['Afrikaans' 'Albanian' 'Arabic' 'Azerbaijani' 'Bengali']
os_name: ['AVG Secure Browser' 'Android Browser' 'Avast Secure Browser' 'Chrome'
 'Chrome Headless']
platform: ['Web' None nan]
user_id: ['0000572f2ba8079bcefd2760b632e820' '000087537cbfd934375364218ff10f91'
 '000117267e1dd62481ef3ae7fb420107' '00012b6dbfccfb458ad0d08f34477944'
 '0001435bc6c0c0f05315192f89275425']
content.id: ['011a040b817225cb7c01d4676c21ea44' '01d9424fd9d2b1d7a4392042fc646061'
 '035f018008f1696ded6e10e1dd757726' '03b4a290c08f7fa83933827a994f2e61'
 '040ccaa97a52e006a2c94bb7c5dce263']
content.difficulty: ['advanced' 'beginner' 'hard' 'intermediate' None]

,city,client_event_time,country,device_family,device_type,event_type,language,os_name,platform,user_id,content.id,content.difficulty
0,887,2023-04-05 21:14:39.906,157,1028,608,12,37,9,0,46099,56,1
1,3439,2023-04-05 21:50:19.674,157,569,157,12,37,33,0,4751,200,1
2,3439,2023-04-10 14:06:26.585,157,569,157,12,37,39,0,86683,84,1
3,3880,2023-04-10 14:15:29.040,30,1028,608,12,14,3,0,165439,84,1
4,3439,2023-04-10 14:21:36.467,157,1028,608,12,37,3,0,94156,21,0

file: start.free_trial.csv encodings -
city: ["'Ewa Beach" '6th of October City' 'A Coruña' 'A Me' 'AElmhult']
country: ['Afghanistan' 'Albania' 'Algeria' 'American Samoa' 'Angola']
device_family: ['10A30Q' '21051182G' '21061110AG' '21061119AG' '21061119AL']
device_type: ['Amazon Fire HD 10' 'Amazon Fire HD 8' 'Amazon Kindle Fire HDX' 'Android'
 'Apple iPad']
event_type: ['error' 'enter.main_page' 'enter.signup_page' 'complete.signup'
 'enter.content_page']
language: ['Afrikaans' 'Albanian' 'Arabic' 'Azerbaijani' 'Bengali']
os_name: ['AVG Secure Browser' 'Android Browser' 'Avast Secure Browser' 'Chrome'
 'Chrome Headless']
platform: ['Web' None nan]
user_id: ['0000572f2ba8079bcefd2760b632e820' '000087537cbfd934375364218ff10f91'
 '000117267e1dd62481ef3ae7fb420107' '00012b6dbfccfb458ad0d08f34477944'
 '0001435bc6c0c0f05315192f89275425']
plan.price: [14328 15920 19920 42960 79200]
plan.type: ['12개월 플랜' '1개월 플랜' None nan]
trial.type: ['A' 'B' None nan]

,city,client_event_time,country,device_family,device_type,event_type,language,os_name,platform,user_id,plan.price,plan.type,trial.type
0,3439,2023-04-05 21:49:36.156,157,569,157,11,37,33,0,4751,1,1,1
1,966,2023-03-12 08:28:29.384,157,1028,608,11,37,3,0,45696,1,1,1
2,4340,2023-03-12 08:35:00.107,189,1120,652,11,71,44,2,39959,1,1,1
3,3439,2023-04-12 11:36:50.250,157,569,157,11,37,33,0,143682,1,1,1
4,4340,2023-02-18 04:13:20.822,189,1120,652,11,71,44,2,54213,11,0,1

In [16]:
## 디코딩

for i, df in enumerate(dfs):
    print(f"file: {filelist[i]} decodings - ")
    
    # encode categorical columns using the loaded encoders
    for col in df.columns:
        # exception handling
        if col not in encoder_dict:
            continue
        if col in exclude_columns + exclude_columns_plus:
            continue
        
        # encode using the loaded encoder
        df[col] = encoder_dict[col].inverse_transform(df[col])
        print(f"{col}: {encoder_dict[col].classes_[:5]}")
    
    # display result head
    display(df.head())

file: click.cancel_plan_button.csv decodings -
city: ["'Ewa Beach" '6th of October City' 'A Coruña' 'A Me' 'AElmhult']
country: ['Afghanistan' 'Albania' 'Algeria' 'American Samoa' 'Angola']
device_family: ['10A30Q' '21051182G' '21061110AG' '21061119AG' '21061119AL']
device_type: ['Amazon Fire HD 10' 'Amazon Fire HD 8' 'Amazon Kindle Fire HDX' 'Android'
 'Apple iPad']
event_type: ['error' 'enter.main_page' 'enter.signup_page' 'complete.signup'
 'enter.content_page']
language: ['Afrikaans' 'Albanian' 'Arabic' 'Azerbaijani' 'Bengali']
os_name: ['AVG Secure Browser' 'Android Browser' 'Avast Secure Browser' 'Chrome'
 'Chrome Headless']
platform: ['Web' None nan]
user_id: ['0000572f2ba8079bcefd2760b632e820' '000087537cbfd934375364218ff10f91'
 '000117267e1dd62481ef3ae7fb420107' '00012b6dbfccfb458ad0d08f34477944'
 '0001435bc6c0c0f05315192f89275425']

,city,client_event_time,country,device_family,device_type,event_type,language,os_name,platform,user_id
0,Daegu,2023-04-10 14:57:48.556,South Korea,Windows,Windows,click.cancel_plan_button,Korean,Chrome,Web,9e59ecf9a8fbe9051bd0d54f4b702f30
1,Seoul,2023-03-12 08:26:16.224,South Korea,Apple iPad,Apple iPad,click.cancel_plan_button,English,Mobile Safari,Web,4ed4d8f12c45504a148bfff0f2e9466e
2,Uijeongbu-si,2023-03-12 08:23:04.955,South Korea,Windows,Windows,click.cancel_plan_button,Korean,Chrome,Web,b6a1bba3cc4139d7dc821561319221e6
3,Dobong-gu,2023-03-12 08:32:39.271,South Korea,Windows,Windows,click.cancel_plan_button,Korean,Chrome,Web,40acc1ddfc012f3d2f58a3de95e9e748
4,Geumjeong-gu,2023-04-12 11:36:28.311,South Korea,Windows,Windows,click.cancel_plan_button,Korean,Chrome,Web,bdffe1f18684704d4ea2d7eebcaed180

file: click.content_page_more_review_button.csv decodings -
city: ["'Ewa Beach" '6th of October City' 'A Coruña' 'A Me' 'AElmhult']
country: ['Afghanistan' 'Albania' 'Algeria' 'American Samoa' 'Angola']
device_family: ['10A30Q' '21051182G' '21061110AG' '21061119AG' '21061119AL']
device_type: ['Amazon Fire HD 10' 'Amazon Fire HD 8' 'Amazon Kindle Fire HDX' 'Android'
 'Apple iPad']
event_type: ['error' 'enter.main_page' 'enter.signup_page' 'complete.signup'
 'enter.content_page']
language: ['Afrikaans' 'Albanian' 'Arabic' 'Azerbaijani' 'Bengali']
os_name: ['AVG Secure Browser' 'Android Browser' 'Avast Secure Browser' 'Chrome'
 'Chrome Headless']
platform: ['Web' None nan]
user_id: ['0000572f2ba8079bcefd2760b632e820' '000087537cbfd934375364218ff10f91'
 '000117267e1dd62481ef3ae7fb420107' '00012b6dbfccfb458ad0d08f34477944'
 '0001435bc6c0c0f05315192f89275425']
content.id: ['011a040b817225cb7c01d4676c21ea44' '01d9424fd9d2b1d7a4392042fc646061'
 '035f018008f1696ded6e10e1dd757726' '03b4a290c08f7fa83933827a994f2e61'
 '040ccaa97a52e006a2c94bb7c5dce263']

,city,client_event_time,country,device_family,device_type,event_type,language,os_name,platform,user_id,content.id
0,Seo-gu,2023-04-10 14:10:01.402,South Korea,Windows,Windows,click.content_page_more_review_button,Korean,Chrome,Web,558fe7e8c06b8505f11b33d76f076e56,a1eeebeb6c307641b75b94a2a1d5b9aa
1,London,2023-01-24 21:37:43.417,United Kingdom,Windows,Windows,click.content_page_more_review_button,Korean,Whale,Web,e48956538e4df690a5d12adf1e6f2ee3,f491517f4737a60d661cd1fcacc702c0
2,Eunpyeong-gu,2023-01-31 14:44:16.897,South Korea,Windows,Windows,click.content_page_more_review_button,Korean,Chrome,Web,e745da89019e303b122bfceac0521a8f,9aa7628a347707fb155943041e2cb524
3,Seoul,2023-01-31 14:30:36.568,South Korea,Apple iPhone,Apple iPhone,click.content_page_more_review_button,Korean,Mobile Safari,Web,e2c59d444736eceee9eedba85bd4e209,f491517f4737a60d661cd1fcacc702c0
4,Seoul,2023-02-12 03:24:32.337,South Korea,Windows,Windows,click.content_page_more_review_button,Korean,Chrome,Web,74b66b738185ffdbec960db4a0da330a,101e1d0dcc38d9c86156f008a145083e

file: click.content_page_start_content_button.csv decodings -
city: ["'Ewa Beach" '6th of October City' 'A Coruña' 'A Me' 'AElmhult']
country: ['Afghanistan' 'Albania' 'Algeria' 'American Samoa' 'Angola']
device_family: ['10A30Q' '21051182G' '21061110AG' '21061119AG' '21061119AL']
device_type: ['Amazon Fire HD 10' 'Amazon Fire HD 8' 'Amazon Kindle Fire HDX' 'Android'
 'Apple iPad']
event_type: ['error' 'enter.main_page' 'enter.signup_page' 'complete.signup'
 'enter.content_page']
language: ['Afrikaans' 'Albanian' 'Arabic' 'Azerbaijani' 'Bengali']
os_name: ['AVG Secure Browser' 'Android Browser' 'Avast Secure Browser' 'Chrome'
 'Chrome Headless']
platform: ['Web' None nan]
user_id: ['0000572f2ba8079bcefd2760b632e820' '000087537cbfd934375364218ff10f91'
 '000117267e1dd62481ef3ae7fb420107' '00012b6dbfccfb458ad0d08f34477944'
 '0001435bc6c0c0f05315192f89275425']
content.id: ['011a040b817225cb7c01d4676c21ea44' '01d9424fd9d2b1d7a4392042fc646061'
 '035f018008f1696ded6e10e1dd757726' '03b4a290c08f7fa83933827a994f2e61'
 '040ccaa97a52e006a2c94bb7c5dce263']
button.name: ['구독 시작하기' '무료로 들어보기' '무료로 시작하기' '최저가 혜택 받기' '최저가로 시작하기']
button_name: ['무료로 시작하기' '수강시작' '수강하기' '이어하기' None]

,city,client_event_time,country,device_family,device_type,event_type,language,os_name,platform,user_id,content.id,button.name,button_name
0,Daejeon,2023-04-05 21:14:38.432,South Korea,Windows,Windows,click.content_page_start_content_button,Korean,Edge,Web,41362ad5ebcade2bb1b78344a53e7ccf,445fac33232adcb3d1cdab7d8a579430,콘텐츠 구독하기,NaN
1,Seongnam-si,2023-04-10 14:57:20.033,South Korea,Windows,Windows,click.content_page_start_content_button,Korean,Edge,Web,f7155af01d277f11b1c7d05cf772c686,18992b667be06d6f29ba0008f99d9745,콘텐츠 이어보기,NaN
2,Yangp'yong,2023-04-10 14:28:29.515,South Korea,Windows,Windows,click.content_page_start_content_button,Korean,Chrome,Web,1b05f9fe82b80771323caa1cd5683143,dfbdae782996c25daed7517b8835f3aa,콘텐츠 이어보기,NaN
3,Seo-gu,2023-04-10 14:09:30.564,South Korea,Windows,Windows,click.content_page_start_content_button,Korean,Chrome,Web,353528475f2bd85934263421ccd579b3,a1eeebeb6c307641b75b94a2a1d5b9aa,콘텐츠 이어보기,NaN
4,Seo-gu,2023-04-10 14:10:52.368,South Korea,Windows,Windows,click.content_page_start_content_button,Korean,Chrome,Web,353528475f2bd85934263421ccd579b3,7de35a9d8f14c68e5f2a8788dda5f72e,콘텐츠 구독하기,NaN

file: click.lesson_page_related_question_box.csv decodings -
city: ["'Ewa Beach" '6th of October City' 'A Coruña' 'A Me' 'AElmhult']
country: ['Afghanistan' 'Albania' 'Algeria' 'American Samoa' 'Angola']
device_family: ['10A30Q' '21051182G' '21061110AG' '21061119AG' '21061119AL']
device_type: ['Amazon Fire HD 10' 'Amazon Fire HD 8' 'Amazon Kindle Fire HDX' 'Android'
 'Apple iPad']
event_type: ['error' 'enter.main_page' 'enter.signup_page' 'complete.signup'
 'enter.content_page']
language: ['Afrikaans' 'Albanian' 'Arabic' 'Azerbaijani' 'Bengali']
os_name: ['AVG Secure Browser' 'Android Browser' 'Avast Secure Browser' 'Chrome'
 'Chrome Headless']
platform: ['Web' None nan]
user_id: ['0000572f2ba8079bcefd2760b632e820' '000087537cbfd934375364218ff10f91'
 '000117267e1dd62481ef3ae7fb420107' '00012b6dbfccfb458ad0d08f34477944'
 '0001435bc6c0c0f05315192f89275425']
question.id: ['000468dc7826f179a01db37bff526ca4' '001024597887f49ec01816cc0360ce2a'
 '0015d6a21cc7eaa4c71241b0128d8d09' '0031005db08ae21ea9152cd538a388ca'
 '0031dcc98ab038ac4504d3f2f18e6142']
content.id: ['011a040b817225cb7c01d4676c21ea44' '01d9424fd9d2b1d7a4392042fc646061'
 '035f018008f1696ded6e10e1dd757726' '03b4a290c08f7fa83933827a994f2e61'
 '040ccaa97a52e006a2c94bb7c5dce263']
lesson.id: ['001e4570bb0fc346a1c969b019bdc22b' '0021f3a8597cb32f3605631446baf526'
 '0022b56713250709e3e8f06ec6c2a76e' '00332b815a82ca3244f1e1eb72345390'
 '00375453dc564db84a8ae379afdd8f1c']

,city,client_event_time,country,device_family,device_type,event_type,language,os_name,platform,user_id,question.id,content.id,lesson.id
0,Dong-gu,2023-04-05 21:51:48.377,South Korea,Samsung Phone,Samsung Galaxy S21 5G,click.lesson_page_related_question_box,English,Chrome,Web,117f95e12266dcf8f911ae39ff55a800,c654f9825245640595af9b8aecb150aa,c269eb6df3a374b464f7c18f12fa398f,e7dbf75457e67ef644d4ae1981b9e01b
1,Dong-gu,2023-04-05 21:52:21.689,South Korea,Samsung Phone,Samsung Galaxy S21 5G,click.lesson_page_related_question_box,English,Chrome,Web,117f95e12266dcf8f911ae39ff55a800,898fb79fc740dc8705b52fb32521d5d5,c269eb6df3a374b464f7c18f12fa398f,e7dbf75457e67ef644d4ae1981b9e01b
2,Dong-gu,2023-04-05 21:52:42.481,South Korea,Samsung Phone,Samsung Galaxy S21 5G,click.lesson_page_related_question_box,English,Chrome,Web,117f95e12266dcf8f911ae39ff55a800,9fb80c124d57fd31494738e0af5437a3,c269eb6df3a374b464f7c18f12fa398f,e7dbf75457e67ef644d4ae1981b9e01b
3,Goyang-si,2023-04-05 21:20:15.032,South Korea,Mac,Mac,click.lesson_page_related_question_box,Korean,Chrome,Web,e1f3ecae035a3c8ae8cf789fbde98995,9016e2246486e852992ccd9ae0eb27ca,c269eb6df3a374b464f7c18f12fa398f,395bdf0293b24ec47d5a9e960574f851
4,Goyang-si,2023-04-05 21:21:55.275,South Korea,Mac,Mac,click.lesson_page_related_question_box,Korean,Chrome,Web,e1f3ecae035a3c8ae8cf789fbde98995,4ecd552eeded70b3274b8edf3ecacbd9,c269eb6df3a374b464f7c18f12fa398f,a738c7835388066e2618af1e5ebacb3c

file: complete.lesson.csv decodings -
city: ["'Ewa Beach" '6th of October City' 'A Coruña' 'A Me' 'AElmhult']
country: ['Afghanistan' 'Albania' 'Algeria' 'American Samoa' 'Angola']
device_family: ['10A30Q' '21051182G' '21061110AG' '21061119AG' '21061119AL']
device_type: ['Amazon Fire HD 10' 'Amazon Fire HD 8' 'Amazon Kindle Fire HDX' 'Android'
 'Apple iPad']
event_type: ['error' 'enter.main_page' 'enter.signup_page' 'complete.signup'
 'enter.content_page']
language: ['Afrikaans' 'Albanian' 'Arabic' 'Azerbaijani' 'Bengali']
os_name: ['AVG Secure Browser' 'Android Browser' 'Avast Secure Browser' 'Chrome'
 'Chrome Headless']
platform: ['Web' None nan]
user_id: ['0000572f2ba8079bcefd2760b632e820' '000087537cbfd934375364218ff10f91'
 '000117267e1dd62481ef3ae7fb420107' '00012b6dbfccfb458ad0d08f34477944'
 '0001435bc6c0c0f05315192f89275425']
content.id: ['011a040b817225cb7c01d4676c21ea44' '01d9424fd9d2b1d7a4392042fc646061'
 '035f018008f1696ded6e10e1dd757726' '03b4a290c08f7fa83933827a994f2e61'
 '040ccaa97a52e006a2c94bb7c5dce263']
lesson.id: ['001e4570bb0fc346a1c969b019bdc22b' '0021f3a8597cb32f3605631446baf526'
 '0022b56713250709e3e8f06ec6c2a76e' '00332b815a82ca3244f1e1eb72345390'
 '00375453dc564db84a8ae379afdd8f1c']

,city,client_event_time,country,device_family,device_type,event_type,language,os_name,platform,user_id,content.id,lesson.id
0,Wonju,2023-04-05 21:55:51.836,South Korea,Windows,Windows,complete.lesson,Korean,Chrome,Web,91053eda0bffb4db6c9317acf15bc44a,94bdcbd9f329aafa84ab464b6721187d,d360d68b65fd3e0eafb7982386d75fd9
1,Daejeon,2023-04-05 21:19:01.243,South Korea,Windows,Windows,complete.lesson,Korean,Edge,Web,41362ad5ebcade2bb1b78344a53e7ccf,445fac33232adcb3d1cdab7d8a579430,7e0f6aae886368ef9fa97007a8e9f7ac
2,Daejeon,2023-04-05 21:20:27.939,South Korea,Windows,Windows,complete.lesson,Korean,Edge,Web,41362ad5ebcade2bb1b78344a53e7ccf,445fac33232adcb3d1cdab7d8a579430,d1e93c9dc08267efab31849bc6083854
3,Daejeon,2023-04-05 21:23:01.534,South Korea,Windows,Windows,complete.lesson,Korean,Edge,Web,41362ad5ebcade2bb1b78344a53e7ccf,445fac33232adcb3d1cdab7d8a579430,f22ea5dc431035305e705552bbc4f45b
4,Daejeon,2023-04-05 21:28:34.965,South Korea,Windows,Windows,complete.lesson,Korean,Edge,Web,41362ad5ebcade2bb1b78344a53e7ccf,445fac33232adcb3d1cdab7d8a579430,ce0bfeb7fb1259c588f437d48ab2690c

file: complete.signup.csv decodings -
city: ["'Ewa Beach" '6th of October City' 'A Coruña' 'A Me' 'AElmhult']
country: ['Afghanistan' 'Albania' 'Algeria' 'American Samoa' 'Angola']
device_family: ['10A30Q' '21051182G' '21061110AG' '21061119AG' '21061119AL']
device_type: ['Amazon Fire HD 10' 'Amazon Fire HD 8' 'Amazon Kindle Fire HDX' 'Android'
 'Apple iPad']
event_type: ['error' 'enter.main_page' 'enter.signup_page' 'complete.signup'
 'enter.content_page']
language: ['Afrikaans' 'Albanian' 'Arabic' 'Azerbaijani' 'Bengali']
os_name: ['AVG Secure Browser' 'Android Browser' 'Avast Secure Browser' 'Chrome'
 'Chrome Headless']
platform: ['Web' None nan]
user_id: ['0000572f2ba8079bcefd2760b632e820' '000087537cbfd934375364218ff10f91'
 '000117267e1dd62481ef3ae7fb420107' '00012b6dbfccfb458ad0d08f34477944'
 '0001435bc6c0c0f05315192f89275425']
type: ['email' 'facebook' 'google' 'kakao' 'naver']

,city,client_event_time,country,device_family,device_type,event_type,language,os_name,platform,user_id,type
0,NaN,2023-04-05 21:33:26.068,NaN,NaN,NaN,complete.signup,NaN,NaN,NaN,74d17c27a41656e7788b0c81d9f76cda,kakao
1,NaN,2023-04-05 21:45:18.672,NaN,NaN,NaN,complete.signup,NaN,NaN,NaN,06b6868000a5d576180aca47896d6cce,kakao
2,Seo-gu,2023-04-10 14:47:56.424,South Korea,Windows,Windows,complete.signup,Korean,Chrome,Web,e131c319972bd580146c5a2faba26613,kakao
3,Suwon,2023-04-10 14:25:45.920,South Korea,Apple iPhone,Apple iPhone,complete.signup,Korean,Mobile Safari,Web,e3b8bfa80d866f296aad139e09023ef3,naver
4,NaN,2023-04-10 14:09:50.698,NaN,NaN,NaN,complete.signup,NaN,NaN,NaN,5208a60918f18562ac9d668a35b20303,kakao

file: complete.subscription.csv decodings -
city: ["'Ewa Beach" '6th of October City' 'A Coruña' 'A Me' 'AElmhult']
country: ['Afghanistan' 'Albania' 'Algeria' 'American Samoa' 'Angola']
device_family: ['10A30Q' '21051182G' '21061110AG' '21061119AG' '21061119AL']
device_type: ['Amazon Fire HD 10' 'Amazon Fire HD 8' 'Amazon Kindle Fire HDX' 'Android'
 'Apple iPad']
event_type: ['error' 'enter.main_page' 'enter.signup_page' 'complete.signup'
 'enter.content_page']
language: ['Afrikaans' 'Albanian' 'Arabic' 'Azerbaijani' 'Bengali']
os_name: ['AVG Secure Browser' 'Android Browser' 'Avast Secure Browser' 'Chrome'
 'Chrome Headless']
platform: ['Web' None nan]
user_id: ['0000572f2ba8079bcefd2760b632e820' '000087537cbfd934375364218ff10f91'
 '000117267e1dd62481ef3ae7fb420107' '00012b6dbfccfb458ad0d08f34477944'
 '0001435bc6c0c0f05315192f89275425']
plan.price: [14328 15920 19920 42960 79200]
paid_amount: [3960 7960 9552 11144 11940]
coupon.discount_amount: [-52400 -48400 0 478 796]
pg.type: ['A' 'B' 'C' None nan]

,city,client_event_time,country,device_family,device_type,event_type,language,os_name,platform,user_id,plan.price,paid_amount,coupon.discount_amount,pg.type
0,Nowon-gu,2023-04-05 21:40:04.000,South Korea,Windows,Windows,complete.subscription,Korean,Edge,Web,1116a2ae90ca6b06f85feba27ad51ef0,15920,15920,0,NaN
1,Seoul,2023-04-10 14:20:03.008,South Korea,Apple iPhone,Apple iPhone,complete.subscription,Korean,Mobile Safari,Web,c0f5678df8967163e6e2c464ed006791,131600,131600,0,NaN
2,Yangsan,2023-03-12 08:46:14.026,South Korea,Windows,Windows,complete.subscription,Korean,Chrome,Web,79421b5d038205ad7adbb1e2c3b89741,131600,119756,11844,NaN
3,Geumjeong-gu,2023-04-12 11:35:01.865,South Korea,Windows,Windows,complete.subscription,Korean,Chrome,Web,bdffe1f18684704d4ea2d7eebcaed180,131600,131600,0,NaN
4,Gwangmyeong,2023-05-31 01:25:55.820,South Korea,Mac,Mac,complete.subscription,Korean,Chrome,Web,d4f54ecf6c4d7bf8742f80505f02d6dc,15920,15920,0,NaN

file: end.content.csv decodings -
city: ["'Ewa Beach" '6th of October City' 'A Coruña' 'A Me' 'AElmhult']
country: ['Afghanistan' 'Albania' 'Algeria' 'American Samoa' 'Angola']
device_family: ['10A30Q' '21051182G' '21061110AG' '21061119AG' '21061119AL']
device_type: ['Amazon Fire HD 10' 'Amazon Fire HD 8' 'Amazon Kindle Fire HDX' 'Android'
 'Apple iPad']
event_type: ['error' 'enter.main_page' 'enter.signup_page' 'complete.signup'
 'enter.content_page']
language: ['Afrikaans' 'Albanian' 'Arabic' 'Azerbaijani' 'Bengali']
os_name: ['AVG Secure Browser' 'Android Browser' 'Avast Secure Browser' 'Chrome'
 'Chrome Headless']
platform: ['Web' None nan]
user_id: ['0000572f2ba8079bcefd2760b632e820' '000087537cbfd934375364218ff10f91'
 '000117267e1dd62481ef3ae7fb420107' '00012b6dbfccfb458ad0d08f34477944'
 '0001435bc6c0c0f05315192f89275425']
content.id: ['011a040b817225cb7c01d4676c21ea44' '01d9424fd9d2b1d7a4392042fc646061'
 '035f018008f1696ded6e10e1dd757726' '03b4a290c08f7fa83933827a994f2e61'
 '040ccaa97a52e006a2c94bb7c5dce263']

,city,client_event_time,country,device_family,device_type,event_type,language,os_name,platform,user_id,content.id
0,Yokohama,2023-04-10 14:02:10.600,Japan,Windows,Windows,end.content,Japanese,Chrome,Web,3fd801c6192296cf7b85efc01bd547b9,a914987711c7e2db9fd4bff7555ec87c
1,Seoul,2023-04-10 14:21:26.466,South Korea,Windows,Windows,end.content,Korean,Chrome,Web,85a332649d34bc7b5ebdec7660b1d57d,f64c475280676531a31f2f8e0648599c
2,Seongbuk-gu,2023-04-10 14:37:04.440,South Korea,Windows,Windows,end.content,Korean,Chrome,Web,2bf8cb1d9c5d4556f5165c2aaf804f2e,7fef928cdccef0185dfb931ef59b37d7
3,Seo-gu,2023-04-10 14:37:19.909,South Korea,Windows,Windows,end.content,Korean,Chrome,Web,831813f54c0d55c17db612f0ea311c93,68a3658f1b936bfff3bd6960cd561b0a
4,Seo-gu,2023-04-10 14:08:58.968,South Korea,Windows,Windows,end.content,Korean,Chrome,Web,353528475f2bd85934263421ccd579b3,a1eeebeb6c307641b75b94a2a1d5b9aa

file: enter.content_page.csv decodings -
city: ["'Ewa Beach" '6th of October City' 'A Coruña' 'A Me' 'AElmhult']
country: ['Afghanistan' 'Albania' 'Algeria' 'American Samoa' 'Angola']
device_family: ['10A30Q' '21051182G' '21061110AG' '21061119AG' '21061119AL']
device_type: ['Amazon Fire HD 10' 'Amazon Fire HD 8' 'Amazon Kindle Fire HDX' 'Android'
 'Apple iPad']
event_type: ['error' 'enter.main_page' 'enter.signup_page' 'complete.signup'
 'enter.content_page']
language: ['Afrikaans' 'Albanian' 'Arabic' 'Azerbaijani' 'Bengali']
os_name: ['AVG Secure Browser' 'Android Browser' 'Avast Secure Browser' 'Chrome'
 'Chrome Headless']
platform: ['Web' None nan]
user_id: ['0000572f2ba8079bcefd2760b632e820' '000087537cbfd934375364218ff10f91'
 '000117267e1dd62481ef3ae7fb420107' '00012b6dbfccfb458ad0d08f34477944'
 '0001435bc6c0c0f05315192f89275425']
content.id: ['011a040b817225cb7c01d4676c21ea44' '01d9424fd9d2b1d7a4392042fc646061'
 '035f018008f1696ded6e10e1dd757726' '03b4a290c08f7fa83933827a994f2e61'
 '040ccaa97a52e006a2c94bb7c5dce263']

,city,client_event_time,country,device_family,device_type,event_type,language,os_name,platform,user_id,content.id
0,Seoul,2023-04-05 21:40:35.740,South Korea,Apple iPhone,Apple iPhone,enter.content_page,Korean,Chrome,Web,d57aba7b4527e71b96135deaaec57def,220ce7873b8895d0c81c37600b5bd1e7
1,Hwaseong-si,2023-04-05 21:01:59.950,South Korea,Samsung Galaxy Note,Samsung Galaxy Note10+ 5G,enter.content_page,Korean,Chrome,Web,NaN,ecde9a1b01763f791c3a185d53b5f394
2,Daejeon,2023-04-05 21:13:12.038,South Korea,Windows,Windows,enter.content_page,Korean,Edge,Web,41362ad5ebcade2bb1b78344a53e7ccf,b8d4ec0133e5ce485055bfd69cd28abd
3,Daejeon,2023-04-05 21:14:25.355,South Korea,Windows,Windows,enter.content_page,Korean,Edge,Web,41362ad5ebcade2bb1b78344a53e7ccf,445fac33232adcb3d1cdab7d8a579430
4,Seoul,2023-04-05 21:44:23.759,South Korea,Samsung Phone,Samsung Galaxy S20 FE 5G,enter.content_page,Korean,Samsung Browser,Web,NaN,7cebec6e79cc981dbf421c5ec2aedd9d

file: enter.lesson_page-002.csv decodings -
city: ["'Ewa Beach" '6th of October City' 'A Coruña' 'A Me' 'AElmhult']
country: ['Afghanistan' 'Albania' 'Algeria' 'American Samoa' 'Angola']
device_family: ['10A30Q' '21051182G' '21061110AG' '21061119AG' '21061119AL']
device_type: ['Amazon Fire HD 10' 'Amazon Fire HD 8' 'Amazon Kindle Fire HDX' 'Android'
 'Apple iPad']
event_type: ['error' 'enter.main_page' 'enter.signup_page' 'complete.signup'
 'enter.content_page']
language: ['Afrikaans' 'Albanian' 'Arabic' 'Azerbaijani' 'Bengali']
os_name: ['AVG Secure Browser' 'Android Browser' 'Avast Secure Browser' 'Chrome'
 'Chrome Headless']
platform: ['Web' None nan]
user_id: ['0000572f2ba8079bcefd2760b632e820' '000087537cbfd934375364218ff10f91'
 '000117267e1dd62481ef3ae7fb420107' '00012b6dbfccfb458ad0d08f34477944'
 '0001435bc6c0c0f05315192f89275425']
content.id: ['011a040b817225cb7c01d4676c21ea44' '01d9424fd9d2b1d7a4392042fc646061'
 '035f018008f1696ded6e10e1dd757726' '03b4a290c08f7fa83933827a994f2e61'
 '040ccaa97a52e006a2c94bb7c5dce263']
is_trial: [False True nan]
lesson.id: ['001e4570bb0fc346a1c969b019bdc22b' '0021f3a8597cb32f3605631446baf526'
 '0022b56713250709e3e8f06ec6c2a76e' '00332b815a82ca3244f1e1eb72345390'
 '00375453dc564db84a8ae379afdd8f1c']
is_free_trial: [False True nan]

,city,client_event_time,country,device_family,device_type,event_type,language,os_name,platform,user_id,content.id,is_trial,lesson.id,is_free_trial
0,Wonju,2023-04-05 21:46:04.333,South Korea,Windows,Windows,enter.lesson_page,Korean,Chrome,Web,91053eda0bffb4db6c9317acf15bc44a,94bdcbd9f329aafa84ab464b6721187d,False,d360d68b65fd3e0eafb7982386d75fd9,NaN
1,Wonju,2023-04-05 21:55:50.787,South Korea,Windows,Windows,enter.lesson_page,Korean,Chrome,Web,91053eda0bffb4db6c9317acf15bc44a,94bdcbd9f329aafa84ab464b6721187d,False,d360d68b65fd3e0eafb7982386d75fd9,NaN
2,Wonju,2023-04-05 21:55:55.684,South Korea,Windows,Windows,enter.lesson_page,Korean,Chrome,Web,91053eda0bffb4db6c9317acf15bc44a,94bdcbd9f329aafa84ab464b6721187d,False,770740696ab1809d6b50d4013b64a75c,NaN
3,Dongdaemun-gu,2023-04-05 21:04:55.828,South Korea,Mac,Mac,enter.lesson_page,Korean,Chrome,Web,b2b31f00b82edc6419b25324a7ae41a4,5fc64d786416b980cfda86afd69e4516,False,68cc362ca81b5899b3c9b4dea0aaddff,NaN
4,Dongdaemun-gu,2023-04-05 21:05:34.139,South Korea,Mac,Mac,enter.lesson_page,Korean,Chrome,Web,b2b31f00b82edc6419b25324a7ae41a4,db43a841c994231e2795d4df8931af50,False,144682f4648f81de8e6aabd11b92105e,NaN

file: enter.main_page.csv decodings -
city: ["'Ewa Beach" '6th of October City' 'A Coruña' 'A Me' 'AElmhult']
country: ['Afghanistan' 'Albania' 'Algeria' 'American Samoa' 'Angola']
device_family: ['10A30Q' '21051182G' '21061110AG' '21061119AG' '21061119AL']
device_type: ['Amazon Fire HD 10' 'Amazon Fire HD 8' 'Amazon Kindle Fire HDX' 'Android'
 'Apple iPad']
event_type: ['error' 'enter.main_page' 'enter.signup_page' 'complete.signup'
 'enter.content_page']
language: ['Afrikaans' 'Albanian' 'Arabic' 'Azerbaijani' 'Bengali']
os_name: ['AVG Secure Browser' 'Android Browser' 'Avast Secure Browser' 'Chrome'
 'Chrome Headless']
platform: ['Web' None nan]
user_id: ['0000572f2ba8079bcefd2760b632e820' '000087537cbfd934375364218ff10f91'
 '000117267e1dd62481ef3ae7fb420107' '00012b6dbfccfb458ad0d08f34477944'
 '0001435bc6c0c0f05315192f89275425']

,city,client_event_time,country,device_family,device_type,event_type,language,os_name,platform,user_id
0,Seongnam-si,2023-04-05 21:55:06.140,South Korea,Samsung Phone,Samsung Galaxy S21 5G,enter.main_page,Korean,Whale,Web,NaN
1,Dongdaemun-gu,2023-04-05 21:04:28.967,South Korea,Mac,Mac,enter.main_page,Korean,Chrome,Web,b2b31f00b82edc6419b25324a7ae41a4
2,Hwaseong-si,2023-04-05 21:01:31.258,South Korea,Samsung Galaxy Note,Samsung Galaxy Note10+ 5G,enter.main_page,Korean,Chrome,Web,NaN
3,Hwaseong-si,2023-04-05 21:02:50.374,South Korea,Samsung Galaxy Note,Samsung Galaxy Note10+ 5G,enter.main_page,Korean,Chrome,Web,NaN
4,Seoul,2023-04-05 21:30:33.727,South Korea,Samsung Phone,Samsung Galaxy A51 5G,enter.main_page,Korean,Chrome,Web,NaN

file: enter.payment_page.csv decodings -
city: ["'Ewa Beach" '6th of October City' 'A Coruña' 'A Me' 'AElmhult']
country: ['Afghanistan' 'Albania' 'Algeria' 'American Samoa' 'Angola']
device_family: ['10A30Q' '21051182G' '21061110AG' '21061119AG' '21061119AL']
device_type: ['Amazon Fire HD 10' 'Amazon Fire HD 8' 'Amazon Kindle Fire HDX' 'Android'
 'Apple iPad']
event_type: ['error' 'enter.main_page' 'enter.signup_page' 'complete.signup'
 'enter.content_page']
language: ['Afrikaans' 'Albanian' 'Arabic' 'Azerbaijani' 'Bengali']
os_name: ['AVG Secure Browser' 'Android Browser' 'Avast Secure Browser' 'Chrome'
 'Chrome Headless']
platform: ['Web' None nan]
user_id: ['0000572f2ba8079bcefd2760b632e820' '000087537cbfd934375364218ff10f91'
 '000117267e1dd62481ef3ae7fb420107' '00012b6dbfccfb458ad0d08f34477944'
 '0001435bc6c0c0f05315192f89275425']

,city,client_event_time,country,device_family,device_type,event_type,language,os_name,platform,user_id
0,Seoul,2023-04-05 21:31:27.602,South Korea,Samsung Phone,Samsung Galaxy A51 5G,enter.payment_page,Korean,Chrome,Web,8ee58bcaa05b234cdbf84167c0983385
1,Wonju,2023-04-05 21:33:30.699,South Korea,Windows,Windows,enter.payment_page,Korean,Chrome,Web,74d17c27a41656e7788b0c81d9f76cda
2,Daejeon,2023-04-05 21:05:28.337,South Korea,Windows,Windows,enter.payment_page,Korean,Edge,Web,62cfa08370da60b8db4495baaff62806
3,Seoul,2023-04-05 21:45:27.935,South Korea,Mac,Mac,enter.payment_page,Korean,Safari,Web,06b6868000a5d576180aca47896d6cce
4,Seoul,2023-04-05 21:46:50.632,South Korea,Mac,Mac,enter.payment_page,Korean,Safari,Web,06b6868000a5d576180aca47896d6cce

file: enter.signup_page.csv decodings -
city: ["'Ewa Beach" '6th of October City' 'A Coruña' 'A Me' 'AElmhult']
country: ['Afghanistan' 'Albania' 'Algeria' 'American Samoa' 'Angola']
device_family: ['10A30Q' '21051182G' '21061110AG' '21061119AG' '21061119AL']
device_type: ['Amazon Fire HD 10' 'Amazon Fire HD 8' 'Amazon Kindle Fire HDX' 'Android'
 'Apple iPad']
event_type: ['error' 'enter.main_page' 'enter.signup_page' 'complete.signup'
 'enter.content_page']
language: ['Afrikaans' 'Albanian' 'Arabic' 'Azerbaijani' 'Bengali']
os_name: ['AVG Secure Browser' 'Android Browser' 'Avast Secure Browser' 'Chrome'
 'Chrome Headless']
platform: ['Web' None nan]
user_id: ['0000572f2ba8079bcefd2760b632e820' '000087537cbfd934375364218ff10f91'
 '000117267e1dd62481ef3ae7fb420107' '00012b6dbfccfb458ad0d08f34477944'
 '0001435bc6c0c0f05315192f89275425']

,city,client_event_time,country,device_family,device_type,event_type,language,os_name,platform,user_id
0,Seoul,2023-04-05 21:30:42.557,South Korea,Samsung Phone,Samsung Galaxy A51 5G,enter.signup_page,Korean,Chrome,Web,NaN
1,Seoul,2023-04-05 21:37:41.467,South Korea,Samsung SM-S916N,NaN,enter.signup_page,Korean,Chrome,Web,NaN
2,Seoul,2023-04-05 21:05:53.237,South Korea,Apple iPhone,Apple iPhone,enter.signup_page,Korean,Mobile Safari,Web,NaN
3,Gangnam-gu,2023-04-05 21:41:58.269,South Korea,Mac,Mac,enter.signup_page,Korean,Safari,Web,NaN
4,Seoul,2023-04-05 21:44:53.294,South Korea,Mac,Mac,enter.signup_page,Korean,Safari,Web,NaN

file: renew.subscription.csv decodings -
city: ["'Ewa Beach" '6th of October City' 'A Coruña' 'A Me' 'AElmhult']
country: ['Afghanistan' 'Albania' 'Algeria' 'American Samoa' 'Angola']
device_family: ['10A30Q' '21051182G' '21061110AG' '21061119AG' '21061119AL']
device_type: ['Amazon Fire HD 10' 'Amazon Fire HD 8' 'Amazon Kindle Fire HDX' 'Android'
 'Apple iPad']
event_type: ['error' 'enter.main_page' 'enter.signup_page' 'complete.signup'
 'enter.content_page']
language: ['Afrikaans' 'Albanian' 'Arabic' 'Azerbaijani' 'Bengali']
os_name: ['AVG Secure Browser' 'Android Browser' 'Avast Secure Browser' 'Chrome'
 'Chrome Headless']
platform: ['Web' None nan]
user_id: ['0000572f2ba8079bcefd2760b632e820' '000087537cbfd934375364218ff10f91'
 '000117267e1dd62481ef3ae7fb420107' '00012b6dbfccfb458ad0d08f34477944'
 '0001435bc6c0c0f05315192f89275425']
plan.price: [14328 15920 19920 42960 79200]
paid_amount: [3960 7960 9552 11144 11940]
coupon.discount_amount: [-52400 -48400 0 478 796]
pg.type: ['A' 'B' 'C' None nan]

,city,client_event_time,country,device_family,device_type,event_type,language,os_name,platform,user_id,plan.price,paid_amount,coupon.discount_amount,pg.type
0,Nam-gu,2022-09-08 03:05:02.068,South Korea,Windows,Windows,renew.subscription,Korean,Edge,Web,6ddea3af2eaae869861c1190dcc9d4a3,15920,15920,0,NaN
1,Nam-gu,2022-09-08 03:40:02.050,South Korea,Windows,Windows,renew.subscription,Korean,Chrome,Web,c2d47034960fdff5df495822ff66fbc1,15920,15920,0,NaN
2,Dongjak-gu,2022-09-08 03:49:00.829,South Korea,Windows,Windows,renew.subscription,Korean,Chrome,Web,de91f1226dd938990fefc79545daf468,42960,40812,2148,NaN
3,Yongin-si,2022-09-08 04:10:06.406,South Korea,Windows,Windows,renew.subscription,Korean,Chrome,Web,bf14840a8cb4643e6d557da96e35a3af,15920,15920,0,NaN
4,Dongjak-gu,2022-09-08 04:40:01.895,South Korea,Android,Android,renew.subscription,Korean,Chrome Mobile,Web,7ddc1c2990d0645d82885394e3c518b5,15920,15920,0,NaN

file: resubscribe.subscription.csv decodings -
city: ["'Ewa Beach" '6th of October City' 'A Coruña' 'A Me' 'AElmhult']
country: ['Afghanistan' 'Albania' 'Algeria' 'American Samoa' 'Angola']
device_family: ['10A30Q' '21051182G' '21061110AG' '21061119AG' '21061119AL']
device_type: ['Amazon Fire HD 10' 'Amazon Fire HD 8' 'Amazon Kindle Fire HDX' 'Android'
 'Apple iPad']
event_type: ['error' 'enter.main_page' 'enter.signup_page' 'complete.signup'
 'enter.content_page']
language: ['Afrikaans' 'Albanian' 'Arabic' 'Azerbaijani' 'Bengali']
os_name: ['AVG Secure Browser' 'Android Browser' 'Avast Secure Browser' 'Chrome'
 'Chrome Headless']
platform: ['Web' None nan]
user_id: ['0000572f2ba8079bcefd2760b632e820' '000087537cbfd934375364218ff10f91'
 '000117267e1dd62481ef3ae7fb420107' '00012b6dbfccfb458ad0d08f34477944'
 '0001435bc6c0c0f05315192f89275425']
plan.price: [14328 15920 19920 42960 79200]
paid_amount: [3960 7960 9552 11144 11940]
coupon.discount_amount: [-52400 -48400 0 478 796]
pg.type: ['A' 'B' 'C' None nan]

,city,client_event_time,country,device_family,device_type,event_type,language,os_name,platform,user_id,plan.price,paid_amount,coupon.discount_amount,pg.type
0,Daejeon,2023-04-05 21:11:45.525,South Korea,Windows,Windows,resubscribe.subscription,Korean,Edge,Web,41362ad5ebcade2bb1b78344a53e7ccf,15920,15920,0,NaN
1,Seoul,2023-06-30 09:59:56.848,South Korea,Samsung Phone,Samsung Galaxy S22+,resubscribe.subscription,Korean,Chrome WebView,Web,68831c27e47f0e8f04ba809baeec218e,15920,15920,0,NaN
2,Nowon-gu,2023-06-13 06:20:22.524,South Korea,Windows,Windows,resubscribe.subscription,Korean,Chrome,Web,4e7568cb7db01f8386614ec2c6c961cd,15920,15920,0,NaN
3,Suwon,2023-06-11 11:02:11.878,South Korea,Windows,Windows,resubscribe.subscription,Korean,Chrome,Web,f91f19527b9ec688e028ec884b1b5c1c,131600,131600,0,NaN
4,Koishikawa,2023-06-13 14:39:25.736,Japan,Apple iPhone,Apple iPhone,resubscribe.subscription,Japanese,Chrome,Web,2276d7d2a31e05f4a5558c6406cc36c9,131600,131600,0,NaN

file: start.content.csv decodings -
city: ["'Ewa Beach" '6th of October City' 'A Coruña' 'A Me' 'AElmhult']
country: ['Afghanistan' 'Albania' 'Algeria' 'American Samoa' 'Angola']
device_family: ['10A30Q' '21051182G' '21061110AG' '21061119AG' '21061119AL']
device_type: ['Amazon Fire HD 10' 'Amazon Fire HD 8' 'Amazon Kindle Fire HDX' 'Android'
 'Apple iPad']
event_type: ['error' 'enter.main_page' 'enter.signup_page' 'complete.signup'
 'enter.content_page']
language: ['Afrikaans' 'Albanian' 'Arabic' 'Azerbaijani' 'Bengali']
os_name: ['AVG Secure Browser' 'Android Browser' 'Avast Secure Browser' 'Chrome'
 'Chrome Headless']
platform: ['Web' None nan]
user_id: ['0000572f2ba8079bcefd2760b632e820' '000087537cbfd934375364218ff10f91'
 '000117267e1dd62481ef3ae7fb420107' '00012b6dbfccfb458ad0d08f34477944'
 '0001435bc6c0c0f05315192f89275425']
content.id: ['011a040b817225cb7c01d4676c21ea44' '01d9424fd9d2b1d7a4392042fc646061'
 '035f018008f1696ded6e10e1dd757726' '03b4a290c08f7fa83933827a994f2e61'
 '040ccaa97a52e006a2c94bb7c5dce263']
content.difficulty: ['advanced' 'beginner' 'hard' 'intermediate' None]

,city,client_event_time,country,device_family,device_type,event_type,language,os_name,platform,user_id,content.id,content.difficulty
0,Daejeon,2023-04-05 21:14:39.906,South Korea,Windows,Windows,start.content,Korean,Edge,Web,41362ad5ebcade2bb1b78344a53e7ccf,445fac33232adcb3d1cdab7d8a579430,beginner
1,Seoul,2023-04-05 21:50:19.674,South Korea,Mac,Mac,start.content,Korean,Safari,Web,06b6868000a5d576180aca47896d6cce,f4be1a0fe0e301b03115591777fddf29,beginner
2,Seoul,2023-04-10 14:06:26.585,South Korea,Mac,Mac,start.content,Korean,Whale,Web,7b2ff3116db46b5e4326d49c7b027631,61b6463287573f00de13a930805a52d6,beginner
3,Toronto,2023-04-10 14:15:29.040,Canada,Windows,Windows,start.content,English,Chrome,Web,eb7515590646ead796fdfb54e2729240,61b6463287573f00de13a930805a52d6,beginner
4,Seoul,2023-04-10 14:21:36.467,South Korea,Windows,Windows,start.content,Korean,Chrome,Web,85a332649d34bc7b5ebdec7660b1d57d,18992b667be06d6f29ba0008f99d9745,advanced

file: start.free_trial.csv decodings -
city: ["'Ewa Beach" '6th of October City' 'A Coruña' 'A Me' 'AElmhult']
country: ['Afghanistan' 'Albania' 'Algeria' 'American Samoa' 'Angola']
device_family: ['10A30Q' '21051182G' '21061110AG' '21061119AG' '21061119AL']
device_type: ['Amazon Fire HD 10' 'Amazon Fire HD 8' 'Amazon Kindle Fire HDX' 'Android'
 'Apple iPad']
event_type: ['error' 'enter.main_page' 'enter.signup_page' 'complete.signup'
 'enter.content_page']
language: ['Afrikaans' 'Albanian' 'Arabic' 'Azerbaijani' 'Bengali']
os_name: ['AVG Secure Browser' 'Android Browser' 'Avast Secure Browser' 'Chrome'
 'Chrome Headless']
platform: ['Web' None nan]
user_id: ['0000572f2ba8079bcefd2760b632e820' '000087537cbfd934375364218ff10f91'
 '000117267e1dd62481ef3ae7fb420107' '00012b6dbfccfb458ad0d08f34477944'
 '0001435bc6c0c0f05315192f89275425']
plan.price: [14328 15920 19920 42960 79200]
plan.type: ['12개월 플랜' '1개월 플랜' None nan]
trial.type: ['A' 'B' None nan]

,city,client_event_time,country,device_family,device_type,event_type,language,os_name,platform,user_id,plan.price,plan.type,trial.type
0,Seoul,2023-04-05 21:49:36.156,South Korea,Mac,Mac,start.free_trial,Korean,Safari,Web,06b6868000a5d576180aca47896d6cce,15920,1개월 플랜,B
1,Dobong-gu,2023-03-12 08:28:29.384,South Korea,Windows,Windows,start.free_trial,Korean,Chrome,Web,40acc1ddfc012f3d2f58a3de95e9e748,15920,1개월 플랜,B
2,NaN,2023-03-12 08:35:00.107,NaN,NaN,NaN,start.free_trial,NaN,NaN,NaN,38aca03fba9753a6b2f31b829fb16a30,15920,1개월 플랜,B
3,Seoul,2023-04-12 11:36:50.250,South Korea,Mac,Mac,start.free_trial,Korean,Safari,Web,cc8051a75f62278b0e4216dd0a182d8c,15920,1개월 플랜,B
4,NaN,2023-02-18 04:13:20.822,NaN,NaN,NaN,start.free_trial,NaN,NaN,NaN,4cc436ad294973993ccad3e3a70053a7,131600,12개월 플랜,B